*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h1 {
  color: red;
  background-color: rgb(72, 0, 255);
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

.hover-action:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.5s;
  background-color: rgb(120, 122, 136);
  color: #fff;
}

.hover-action:hover .numLikes {
  color: #fff;
}

.heart-border {
  border: none;
  background-image: url(../images/heartnobg.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-color: transparent;
}

.heart-border:hover {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.image-name {
  width: 30px;
  height: 30px;
}

.date {
  font-size: 12px;
  text-align: justify;
  font-weight: bolder;
}

.name h4 {
  font-size: 12px;
  font-weight: bold;
}

.card-modal {
  position: fixed;
  z-index: 5;
  background-color: rgba(4, 4, 4, 1);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
  -moz-box-shadow: 0 0 3px 1px #3d3d3d inset;
  box-shadow: 0 0 3px 1px #3d3d3d inset;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
  max-height: 100vh;
  overflow-x: hidden;
}

.card-show {
  height: 90%;
}

.overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(4, 4, 4, 0.9);
  backdrop-filter: blur(1px);
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #867b7b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 1rem;
}

.item {
  background-color: rgba(245, 241, 241, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
  -moz-box-shadow: 0 0 3px 1px #3d3d3d inset;
  box-shadow: 0 0 3px 1px #3d3d3d inset;
}

#comments-container {
  background-color: rgba(245, 241, 241, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
  -moz-box-shadow: 0 0 3px 1px #3d3d3d inset;
  box-shadow: 0 0 3px 1px #3d3d3d inset;
}

.overflow {
  overflow-y: scroll;
  background-color: rgb(50, 45, 65);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
  -moz-box-shadow: 0 0 3px 1px #3d3d3d inset;
  box-shadow: 0 0 3px 1px #3d3d3d inset;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  scrollbar-color: #e61010 #3d3d3d;
}

@keyframes zoom-effect {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

.zoom-effect {
  animation-name: zoom-effect;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@media (max-width: 540px) {
  .item {
    width: 100%;
  }

  .card-modal {
    width: 90%;
  }

  .img-fluid {
    width: 80%;
    margin: auto 20px;
  }

  .card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .list-genres {
    width: 65vw;
  }
}

@media (max-width: 768px) {
  .card-modal {
    width: 90%;
  }
}
